<div class="list-table-row">
    <div class="list-table-col">
        {{shop.name}}
    </div>
    <div class="list-table-col">
        <button class="button success">Edit</button>
        <button class="button danger">Delete</button>
    </div>            
</div>