<div class="shop-wrapper">
    <h1 align="center">Shops / {{model.name}}</h1>
    <div class="list-table">
        <div class="list-table-header">
            <div class="list-table-row shop">
                <div class="list-table-col">Name</div>
                <div class="list-table-col">QTY</div>
                <div class="list-table-col">Price</div>            
                <div class="list-table-col">Actions</div>            
            </div>
        </div>
        <div class="list-table-body">
            {{#each this.model as |product|}}
                {{shop/product-item product=product}}
                {{else}}
                <p align="center">There is no product, You can add it!</p>
            {{/each}}
        </div>
    </div>
    {{shop/add-product}}
</div>